[user]
	name = Dunya Kirkali
	email = dunyakirkali@gmail.com
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
  rebase = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[push]
	autoSetupRemote = true
	followTags = true
