# Markdown

# Includes octopress (http://octopress.org/) snippets

# The suffix `c` stands for "Clipboard".

snippet todo todo
<!-- TODO: (dunyakirkali) $0 -->

snippet [
[${1:text}](https://${2:address})
