command_timeout = 5000

[git_branch]
disabled = true

[git_commit]
disabled = true

[git_state]
disabled = true

[git_status]
disabled = true

[git_metrics]
disabled = true

[battery]
disabled = true

